.field-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.field-form input {
  color: var(--10-segundo-color);
  border: 1px solid var(--10-segundo-color);
  text-align: center;
  padding: 8px 10px;
}
